$main-font: 'Poppins', sans-serif;
*{
    box-sizing: border-box;
    margin: 0;
}

header{
    font-family:$main-font;
    position: fixed;
    left: 0;
    right: 0;
}
#top{
    padding: 50px 110px 150px 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body {
    position: relative;
    font-family:$main-font;
    width: 1920px;

}
.register {
    display: flex;
    align-items: center;
    padding: 2px 0 0 0;
}
nav{
display: flex;
align-items: center;
gap: 54px;
}
.nav-link{
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
text-decoration:none;
color:  #777A73;
}
#nav-home {
    color: #588535;
}
.gap
{
padding-left: 3px; 
}

