@import 'common';
.logo{
    padding: 2px 0 0 0;
    display: flex;
    align-items: center;
   
}
.top-buttons{
    display: flex;
    
}
#front-div {
    display: flex;
}

.head-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 183px;
    padding-left: 110px;
    p1{
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
    }
    p2{
        font-size: 100px;
        font-weight: 500;
        line-height: 125px;
        width: 736px;
        padding-top: 20px;
    }
    p3 {
        font-size: 24px;
        font-weight: 400;
        line-height: 40px;
        text-align: left;
        width: 659px;
        padding: 50px 0;
    }
}
#top-buttons{
display: flex;
flex-direction: row;
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #588535; 
    color: #FFFFFF; 
    text-decoration-line: none;
    width: 202px;
    height: 60px;
    font-size: 20px;
    font-weight: 500;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    border-radius: 10px 0 35px 0;
        
    &.white{
        width: 194px;
        background-color: #FFFFFF;
        color: #588535;
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
        border-radius: 35px 10px 0 0;
    }
}
}

#container-with-goods{
    margin: 129px 0 100px 0;
    padding-left: 110px;
    padding-right: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    
    .plant-in-line{
        width: 400px;
        height: 200px;
        border-radius: 18px;
        background: #FFF;
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        max-width: 100%;
        max-height: 100%;
        
        &.picked {
            height: 280px;
            background: #588535;
        }
    }
}
.image-inline-box{
    align-self: center;
    width: 37%;
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.basic-inf{
    width: 63%;
    justify-content:end;
    p{
        padding: 40px 0 10px 0;
        color: #22271C;
        font-family: $main-font;
        font-size: 20px;
        font-weight: 600;
    }
    #p-picked{
        color: #FFF;
        font-family: $main-font;
        font-size: 24px;
        font-weight: 700;
        padding: 40px 0 10px 0;
    }
    span{
        color: #777A73;
        font-family: $main-font;
        font-size: 16px;
        font-weight: 400;
    }
    #picked{
        color: rgba(255, 255, 255, 0.60);
        font-family: $main-font;
        font-size: 20px;
        font-weight: 400;
    }
    #price-picked{
        color: #FFF;
        font-family: $main-font;
        font-size: 24px;
        font-weight: 700;
    }
    #price{
        color: #22271C;
        font-family: $main-font;
        font-size: 20px;
        font-weight: 700;
    }
    #button {
        width: 130px;
        height: 40px;
        border-radius: 5px;
        background-color: #FBFDFE;
        color: #588535;
        font-family: $main-font;
        font-size: 14px;
        font-weight: 400;
        border-color: #588535;
    }
}
.main-collection{
    padding: 120px 200px 0 200px;
    background-color: #FFF;
    color: #22271C;
    font-weight: 500;

    .grid-blocks{
        display: grid;
        grid-template-areas: "a b c" "a d e" "f g e"; 
        gap: 30px;
        grid-template-rows: 497px 481px 481px; 

        .block{
            background-color: rgba(246, 246, 246, 1);
            img{
                display: block;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
}
.base-cat{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 80px;
    width: 100%;
    #main{
        padding-left: 30px;
        color: #22271C;
        font-size: 20px;
    }
    #additional{
        color: #588535;
        font-size: 16px;
        padding-right: 30px;
    }
}
.base{
    display: flex;
    flex-direction: column;

    h1{ margin-top: 123px;
        justify-content: center;
        display: flex;
        font-size: 40px;
        font-weight: 700;
        }
    p{
        display: flex;
        justify-content: center;
        color: #777A73;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 50px;
        }
}

.a {
    grid-area:a;
}
.b {
    grid-area:b;
}.c {
    grid-area:c;
}.d {
    grid-area:d;
}.e{
    grid-area:e;
}.f {
    grid-area:f;
}.g {
    grid-area:g;
}
#fon{
    margin-top: 120px;
}


    