* {
  box-sizing: border-box;
  margin: 0;
}

header {
  font-family: "Poppins", sans-serif;
  left: 0;
  right: 0;
}

#top {
  padding: 50px 110px 0 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  width: 1920px;
  background: #F6F6F6;
}

.register {
  display: flex;
  align-items: center;
  padding: 2px 0 0 0;
}

nav {
  display: flex;
  align-items: center;
  gap: 54px;
}

.nav-link {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: #777A73;
}

#nav-home {
  color: #588535;
}

.gap {
  padding-left: 3px;
}

.logo {
  padding: 2px 0 0 0;
  display: flex;
  align-items: center;
}

.background-flower {
  position: absolute;
  margin-top: -80px;
}

.top-buttons {
  display: flex;
}

#front-div {
  display: flex;
  background-color: #F6F6F6;
}

.head-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 183px;
  padding-left: 110px;
}
.head-text p1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}
.head-text p2 {
  font-size: 100px;
  font-weight: 500;
  line-height: 125px;
  width: 736px;
  padding-top: 20px;
}
.head-text p3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  width: 659px;
  padding: 50px 0;
}

#top-buttons {
  display: flex;
  flex-direction: row;
}
#top-buttons .button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #588535;
  color: #FFFFFF;
  text-decoration-line: none;
  width: 202px;
  height: 60px;
  font-size: 20px;
  font-weight: 500;
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  border-radius: 10px 0 35px 0;
}
#top-buttons .button.white {
  width: 194px;
  background-color: #FFFFFF;
  color: #588535;
  -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
  border-radius: 35px 10px 0 0;
}

#container-with-goods {
  margin: 129px 0 100px 0;
  padding-left: 110px;
  padding-right: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#container-with-goods .plant-in-line {
  width: 400px;
  height: 200px;
  border-radius: 18px;
  background: #FFF;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  max-width: 100%;
  max-height: 100%;
}
#container-with-goods .plant-in-line.picked {
  height: 280px;
  background: #588535;
}

.image-inline-box {
  align-self: center;
  width: 37%;
}
.image-inline-box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.basic-inf {
  width: 63%;
  justify-content: end;
}
.basic-inf p {
  padding: 40px 0 10px 0;
  color: #22271C;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.basic-inf #p-picked {
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding: 40px 0 10px 0;
}
.basic-inf span {
  color: #777A73;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.basic-inf #picked {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.basic-inf #price-picked {
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.basic-inf #price {
  color: #22271C;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.basic-inf #button {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  background-color: #FBFDFE;
  color: #588535;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border-color: #588535;
}

.main-collection {
  padding-top: 120px;
  padding-bottom: 123px;
  background-color: #FFF;
  color: #22271C;
  font-weight: 500;
  justify-content: center;
}
.main-collection img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.main-collection .grid-blocks {
  display: grid;
  grid-template-areas: "a b c" "a d e" "f g e";
  justify-content: center;
  gap: 30px;
  grid-template-columns: 497px 481px 481px;
  width: 100%;
}
.main-collection .grid-blocks .block {
  background-color: rgb(246, 246, 246);
}
.main-collection .grid-blocks .block img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.base-cat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.base-cat #main {
  padding-left: 30px;
  color: #22271C;
  font-size: 20px;
}
.base-cat #additional {
  color: #588535;
  font-size: 16px;
  padding-right: 30px;
}
.base-cat span {
  display: block;
}

.base {
  display: flex;
  flex-direction: column;
}
.base p1 {
  margin-top: 123px;
  justify-content: center;
  display: flex;
  font-size: 40px;
  font-weight: 700;
}
.base p2 {
  display: flex;
  justify-content: center;
  color: #777A73;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 50px;
}

.p1 {
  justify-content: center;
  display: flex;
  font-size: 40px;
  font-weight: 700;
  position: relative;
  color: #FFF;
  left: 0;
  right: 0;
  padding-top: 100px;
}

.p2 {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  color: #FFF;
  left: 0;
  right: 0;
  width: 100%;
}

#fon {
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
}

.feature-goods {
  background-color: #F6F6F6;
}

.a {
  grid-area: a;
  position: relative;
  width: 100%;
}

.b {
  grid-area: b;
  position: relative;
  width: 100%;
}

.c {
  grid-area: c;
  position: relative;
  width: 100%;
}

.d {
  grid-area: d;
  position: relative;
  width: 100%;
}

.e {
  grid-area: e;
  position: relative;
  width: 100%;
}

.f {
  grid-area: f;
  position: relative;
  width: 100%;
}

.g {
  grid-area: g;
  position: relative;
  width: 100%;
}

.view-all-button {
  display: flex;
  width: 182px;
  height: 60px;
  color: #588535;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  border-radius: 8px 0 8px 0;
  border-color: #588535;
  background-color: #FFF;
  border-width: 3px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}/*# sourceMappingURL=main.css.map */