@import 'common';
.logo{
    padding: 2px 0 0 0;
    display: flex;
    align-items: center;
   
}
.background-flower{
    position: relative;
    width: 100%;
   
}

.top-buttons{
    display: flex;
    
}
#front-div {
    display: flex;
    background-color: #F6F6F6;;
    overflow: hidden;
}

.head-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 183px;
    padding-left: 110px;
    .pp1{
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
    }
    .pp2{
        font-size: 100px;
        font-weight: 500;
        line-height: 125px;
        width: 736px;
        padding-top: 20px;
    }
    .pp3 {
        font-size: 24px;
        font-weight: 400;
        line-height: 40px;
        text-align: left;
        width: 659px;
        padding: 50px 0;
    }
}
#top-buttons{
display: flex;
flex-direction: row;
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #588535; 
    color: #FFFFFF; 
    text-decoration-line: none;
    width: 202px;
    height: 60px;
    font-size: 20px;
    font-weight: 500;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    border-radius: 10px 0 35px 0;
        
    &.white{
        width: 194px;
        background-color: #FFFFFF;
        color: #588535;
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
        border-radius: 35px 10px 0 0;
    }
}
}

#container-with-goods{
    margin: 129px 0 100px 0;
    padding-left: 110px;
    padding-right: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    
    .plant-in-line{
        width: 400px;
        height: 200px;
        border-radius: 18px;
        background: #FFF;
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        max-width: 100%;
        max-height: 100%; 

        .image-inline-box{
            align-self: center;
            width: 37%;
            img{
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .basic-inf{
            width: 63%;
            justify-content:end;
            #name-of-flo{
                padding: 40px 0 10px 0;
                color: #22271C;
                font-family: $main-font;
                font-size: 20px;
                font-weight: 600;
            }
            .inf-about-flo{
                color: #777A73;
                font-family: $main-font;
                font-size: 16px;
                font-weight: 400;
            }
            .price{
                color: #22271C;
                font-family: $main-font;
                font-size: 20px;
                font-weight: 700;
            }
        }
        #button {
            width: 130px;
            height: 40px;
            border-radius: 5px;
            background-color: #FBFDFE;
            color: #588535;
            font-family: $main-font;
            font-size: 14px;
            font-weight: 400;
            border-color: #588535;
            display: none;
        }
    }
    .plant-in-line:hover {
        height: 280px;
        background: #588535;
        .basic-inf{
            #name-of-flo{
                color: #FFF;
                font-family: $main-font;
                font-size: 24px;
                font-weight: 700;
                padding: 40px 0 10px 0;
            }
            .inf-about-flo{
                color: rgba(255, 255, 255, 0.60);
                font-family: $main-font;
                font-size: 20px;
                font-weight: 400;
            }
            .price{
                color: #FFF;
                font-family: $main-font;
                font-size: 24px;
                font-weight: 700;
            }
        }
        #button{
            display:block;
            margin-top: 0;
            margin-bottom: 0;
         }
    }
    
}
.container1{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: center;
    gap:30px;
    flex-wrap: wrap;
    width: auto;
    
}
.main-collection{
    padding-top: 120px;
    padding-bottom: 123px;
    background-color: #FFF;
    color: #22271C;
    font-weight: 500;
    justify-content: center;

    .img {
        padding: 0 200px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        z-index: 1;
    }

    .table{
        padding: 0 200px;
    }
    .grid-blocks{
        display: grid;
        grid-template-areas: "a b c" "a d e" "f g e";
        justify-content: center; 
        gap: 30px;
        grid-template-columns: (34% 33% 33%);
        width: 100%;
        padding: 0 15px;
    
        .block{
            background-color: rgba(246, 246, 246, 1);

            img{
                display: block;
                left: 0;
                right: 0;
                position: absolute;
                bottom: 3.97%;
                max-height: 84%;
                width: auto;
                z-index: 0;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
}
.base-cat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(25px);
    #main{
        padding-left: 30px;
        color: #22271C;
        font-size: 20px;
    }
    #additional{
        color: #588535;
        font-size: 16px;
        padding-right: 30px;
    }
    span{
        display: block;
    }
}
.base{
    display: flex;
    flex-direction: column;
    background-color: #FFF;

    #p1{ margin-top: 123px;
        justify-content: center;
        display: flex;
        font-size: 40px;
        font-weight: 700;
        }
    #p2{
        display: flex;
        justify-content: center;
        color: #777A73;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 50px;
        br{
            display: none;
        }
        }
}

#fon{
            display: block;
            margin-right: auto;
            margin-left: auto;
            width: 100%;
            position: relative;
            
}
#bl{
    position: absolute;
    width: 100%;
    z-index: 2;
}
#text-on-fon{
    padding: 100px 200px 100px 200px;
    position: absolute;
    width: 100%;
    z-index: 3; 
}
.plant-care{
    background-color: #F6F6F6;
    height: 504px;
    position: relative;
    
        .info-card{
            display: flex;
            justify-content: space-around;
            position: absolute;
            padding-top:224px;
            padding-left: 10.42%;
            padding-right: 10.42%;
            z-index: 3;
            width: 100%;
            gap: 30px;
            #card{
                width: 487px;
                height: 160px;
                border-radius: 10px;
                background-color: #FFF;
                box-shadow: 5px 10px 30px 0px rgba(22, 0, 86, 0.06);
            }
        }
    }

.a {
    grid-area:a;
    position: relative;
    padding-top: 152.11%;    
    width: 100%;
}
.b {
    grid-area:b;
    position: relative;

}.c {
    grid-area:c;
    position: relative;

}.d {
    grid-area:d;
    position: relative;
}.e{
    grid-area:e;
    position: relative;
    padding-top: 157.17%;
   width: 100%;
}
.f {
    grid-area:f;
    position: relative;

}.g {
    grid-area:g;
    position: relative;
}
.future-goods{
    background-color: #FFF;
}
.view-all-button{
    display: flex;
    width: 182px;
    height: 60px;
    color: #588535;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px 0 8px 0;
    border-color: #588535;
    background-color:  #FFF;
    border-width: 3px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

#container-with-future-goods{
    background-color: #FFF;
    margin: 129px 0 100px 0;
    padding-left: 110px;
    padding-right: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    gap: 30px;
    
    .fut-plant-in-line:hover {
        border-color: #588535;
        .nested-field{
            background-color: #588535;
            .price{
                color: #FFF;
            }
        }
        .button-cart{
            fill: #FFF;
            stroke-width: 1px;
            stroke: #6C944E;
            background-color: #E5E5E5;
        }
        .flower-name{
            color: #FFF;
        }
    }
    .fut-plant-in-line{
        display: flex;
        align-self: flex-end;
        align-items:flex-end;
        flex-wrap: wrap;
        width: 357.5px;
        height: 459px;
        border-radius: 10px;
        border: 1px solid rgba(88, 133, 53, 0.1);
        background-color: #FFF;
        max-width: 100%;
        max-height: 100%;
        
        #plants{
            margin-top: 44px;
            margin-bottom: 45px;
            margin-left: auto;
            margin-right: auto;
        }
        .nested-field{
            display: grid;
            grid-template-columns: (1fr 1fr);
            justify-content: flex-end;
            align-content:space-between;
            padding: 30px;
            height: 160px;
            width: 100%;
            border: 1px solid rgba(125, 158, 100, 0.1);
            background-color: #E5E5E5;
            border-radius: 0px 0px 10px 10px;
           
            .price{
                color: #22271C;
                text-align:right;
                font-family: $main-font;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 30px; 
            }
            .stars{
                display: flex;
                right: 0;
                width: 100%;
                align-items:center;
                justify-content:flex-end;
            }
        }
        .button-cart{
            color: #588535;
            border-color: #588535;
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            line-height: 30px; 
            border-radius: 5px 0 5px 0;
            width: 130px;
            height: 40px;
        }
        .flower-name{
            color: #22271C;
            font-family: $main-font;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
}
#dots{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: -3px;
}
#content-block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center; 
    margin: 0 200px;
    gap: 30px;
    .form-block{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: #F6F6F6;
        width: 100%;
        &.left{
            clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
        }
        &.center{
            position: relative;

        }
        &.right{
            clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
           
        }
        img{
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30.3%;
        padding-right: 30.3%;
        height: auto;
        width: 100%;
       
    }
    .button-bio{
        position: absolute;
        padding: 15px 52px 15px 44px;
        width: 200px;
        height: 60px;
        border-radius: 10px 0px;
        background-color: #588535;
        color: #FFF;
        font-size: 20px;
        font-weight: 500;
        bottom: 30px;
    }
    .correction{
        position: relative;
        right: 8.21%;
    }

}

}



@media  (min-width:851px) {
    .mobile-only { display:none !important;
    }
}

@media  (max-width:850px) 
{
    .desktop-only { display:none !important;
    }
    #top{
        padding: 50px 50px 0 50px;
    }
    #front-div{
        flex-direction: column;
        }
    .head-text {
            padding-top: 110px;
            padding-left: 15px;
            text-align: center;
            .pp1{
                font-size: 12px;
                font-weight: 600;
                line-height: 15px;
            }
            .pp2{
                font-size: 50px;
                font-weight: 500;
                line-height: 62px;
                padding-top: 10px;
                word-spacing: 999px;
                width: 100%;
            }
            .pp3 {
                font-size: 12px;
                font-weight: 400;
                line-height: 20px;
                text-align: left;
                width: 300px;
                padding: 25px 0;
                text-align: center;
                width: 100%;
            }
        }
    
        #top-buttons{
            width: 100%;
            flex-direction: column;
            .button{
                width: 145px;
                height: 40px;
                font-size: 15px;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                border-radius: 0;
                margin: 0 auto;
                    
                &.white{
                    width: 145px;
                    background-color: #FFFFFF;
                    color: #588535;
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                    border-radius: 0;
                    margin: 0 auto;
                }
            }
            }
    
    #container-with-goods{
        margin: 20px 0 20px 0;
        padding-left: 10px;
        padding-right: 10px;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
                
                .plant-in-line{
                    width: 160px;
                    height: 90px;
                    border-radius: 8px;
                    background: #FFF;
                    display: flex;
                    flex-direction: row;
                    align-self: flex-end;
                    max-width: 100%;
                    max-height: 100%; 
                    gap: 5px;
            
                    .image-inline-box{
                        padding: 7px;
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                    .basic-inf{
                        justify-content:end;
                        br{
                            display: none;
                        }
                        #name-of-flo{
                            padding: 10px 0 4px 0;
                            font-size: 8px;
                        }
                        .inf-about-flo{
                            font-size: 7px;
                            font-weight: 400;
                        }
                        .price{
                            font-size: 8px;
                        }
                    }
                    #button {
                        width: 75px;
                        height: 18px;
                        border-radius: 2px;
                        font-size: 7px;
                        display: none;
                    }
                }
                .plant-in-line:hover {
                    height: 130px;
                    .basic-inf{
                        #name-of-flo{
                            font-size: 9px;
                            padding: 10px 0 4px 0;
                        }
                        .inf-about-flo{
                            font-size: 8px;
                        }
                        .price{
                            font-size: 10px;
                        }
                        br{
                            display:block;
                        }
                    }
                    #button{
                        display:block;
                        margin-top: 0;
                        margin-bottom: 0;
                        left: 0;
                     }
                }
                
            }
            .container1{
                gap:5px;
                
            }
    .main-collection{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .base{
        flex-direction: column;
    
        #p1{ margin-top: 30px;
            font-size: 15px;
            }
        #p2{
            font-size: 12px;
            margin-bottom: 20px;
            br{
                display: none;
            }
            }
    }

    
.main-collection{
    padding-top: 30px;
    padding-bottom: 30px;
    .img {
        padding: 0 10px;
        top: 3%;
        bottom: 0;
    }

    .table{
        padding: 0 15px;
    }
    .grid-blocks{
        gap: 5px;
        padding: 0 10px;
    
    }
}
.base-cat{
    height: 30px;
    backdrop-filter: blur(25px);
    #main{
        padding-left: 5px;
        font-size: 10px;
    }
    #additional{
        font-size: 6px;
        padding-right: 5px;
    }
}

.view-all-button{
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 3px 0 3px 0;
    border-color: #588535;
    background-color:  #FFF;
    border-width: 1px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}


}
